* {
  font-size: 25px;
  font-family: 'Kalam', cursive;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.textarea {
  margin-top: 25%;
  width: 310px;
  height: 40px;
  font-size: 28px;
  border-radius: 10px;
}

.textarea:focus {
  background-color: lightgoldenrodyellow;
  outline: none;
}

li {
  list-style-type: none;
  overflow-wrap: break-word;
  max-width: 300px;
}

ul {
  padding: 0;
}

ul li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.route li {
  float: left;
  text-align: center;
  padding: 15px;
  width: 140px;
}

.router {
  display: block;
  color: black;
  text-decoration: none;
  background-color: lightgoldenrodyellow;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
}

.router:hover {
  font-weight: bold;
  font-size: 16px;
}


.btn {
  border-radius: 5px;
  font-size: 15px;
  margin-left: 10px;
}

.btn:hover {
  background-color: lightgoldenrodyellow;
  font-weight: bold;
}

.x {
  padding: 10px
}

.checkbox {
  height: 25px;
  width: 25px;
  cursor: pointer;
}


.ultag li {
  border-bottom: solid white 1px;
}